<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <!--    <title>글 쓰기</title>-->
    <title th:text="${post.id} != null ? '글 수정' : '글 쓰기'">글 쓰기</title>
</head>
<body>

<h1 th:text="${post.id} != null ? '글 수정' : '글 쓰기'">글 쓰기</h1>
<form method="post" autocomplete="off" th:object="${post}" th:action="@{/board/save}">
    <dl>
        <dt>글 제목</dt>
        <dd>
            <input type="text" name="title" th:field="*{title}">
        </dd>
    </dl>
    <dl>
        <dt>내용</dt>
        <dd>

            <textarea name="content" th:field="*{content}"></textarea>
        </dd>
    </dl>
    <button type="submit">완료</button>
</form>
</body>
</html>
